{{define "layers/header.html"}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .title }}</title>

    <link rel="icon" href="/assets/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/blog-home.css" rel="stylesheet">

</head>

<body>

{{template "layers/navbar.html" .}}

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8">
{{end}}